	<div id="pagewidth">
		<header id="header">
			<div class="center">
				<nav id="mainNav">
					<ul>
<!--
						<li><a href="#threeColumnLayout"><span>3 columns</span></a></li>
						<li><a href="#boxes"><span>boxes</span></a></li>
-->
						<li class="active"><a href="#pagewidth"><span>Home</span></a></li>
						<li><a href="#twoColumnLayout"><span>Let's Start</span></a></li>
						<li><a href="#testiomonialsTab"><span>testimonials</span></a></li>
						<li><a href="#contactUs"><span>contact us</span></a></li>
						<% if user_signed_in? -%>
							<li><%=link_to "Logout","users/sign_out"%></li>
						<%end%>
					</ul>
				</nav>
			</div>
		</header>
		<div id="content">
			<section class="row">
				<div class="center">
					<h1>Wish Friends Birthday</h1>
					<strong class="subHeading"> Hello! Friends, Who have birthday today on facebook , You can wish them in a single click :))</strong>
				</div>
			</section>
			<section id="twoColumnLayout" class="row grey">
				<div class="center">







<% unless user_signed_in? -%>
<h1>Let's Start (Click on f icon)</h1>
<div style="margin-left:34%;">
	<%=link_to image_tag("facebook.png"), user_omniauth_authorize_path(:facebook),:tag=>"Click For Facebook Login" %>
<% end -%>
<%if user_signed_in?%>
<div>
	<%=flash[:notice]%>
	<%#=DateTime.now.new_offset(@profile["timezone"]/24)%>
<%@today_birthday = []%>
<!--
	<table border="1" width="50%" align="center">
		<tr>
			<th>
				Name
			</th>
			<th>
				BirthDay
			</th>
			<th>
				ID
			</th>
		</tr>
		<%@friends_profile.each do |friend|%>
		<tr>
				<td><%=friend["name"]%></td>
				<td>
					<%if !friend["birthday"].nil?%>
						<%=birthday = friend["birthday"].split('/')%>
						<%if @current_date[0] == birthday[0]%>
-->
							<!--month is same-->
<!--
								<%if @current_date[1]==birthday[1]%>
-->
									<!--Date is same-->
<!--
										<%@today_birthday <<  {"name" => friend["name"],"birthday" => birthday[1],"id" => friend["id"]}%>
								<%end%>
								<%if birthday[1].to_i > @current_date[1].to_i && birthday[1].to_i < @upcomming%>
									<%@result << {"name" => friend["name"],"birthday" => birthday[1],"id" => friend["id"]} %>
								<%end%>
						<%end%>
					<%else%>
						<%=friend["birthday"]%>
					<%end%>
				</td>
				<td><%=friend["id"]%></td>
		</tr>
		<%end%>
	</table>
-->
<table border="0" width="100%" align="center">
	<tr>
		<td align ="center">
			<%=image_tag("#{session[:image]}")%>
		</td>
	</tr>
</table>

	<table border="1" width="100%" align="center">
		<tr>
			<td colspan="3" align="center">
				<h2>Today's BirthDay</h2>
			</td>
		</tr>
		<tr>
			<th>
				Image
			</th>
			<th>
				Name
			</th>
			<th>
				BirthDate
			</th>

		</tr>
		<%@today_birthday.each do |friend|%>
		<tr>
			<td width="4">
				<%=image_tag(@graph.get_picture(friend["id"]))%>
			</td>
			<td align="center" width="48%">
				<%=friend["name"]%>
			</td>
			<td align="center">
				<%=friend["birthday"]+" #{DateTime.now.new_offset(@profile["timezone"]/24).strftime('%B')}"%>
			</td>
		</tr>
		<%end%>
	</table>


</br></br>
	<%if !@result.blank?%>
	<table border="1" width="100%" align="center">
		<tr>
			<td colspan="3" align="center">
				<h2>Upcomming BirthDay</h2>
			</td>
		</tr>
		<tr>
			<th>
				Image
			</th>
			<th>
				Name
			</th>
			<th>
				BirthDate
			</th>
		</tr>

		<%@result.each do |friend|%>
		<tr>
			<td width="4">
				<%=image_tag(@graph.get_picture(friend["id"]))%>
			</td>
			<td align="center" width="48%">
				<%=friend["name"]%>
			</td>
			<td align="center">
				<%=friend["birthday"]+" #{DateTime.now.new_offset(@profile["timezone"]/24).strftime('%B')}"%>
			</td>
		</tr>
		<%end%>
	</table>
	<%end%>
				</br></br></br>
				<h3>Want to wish all Today's Birthday in Single Click</h3>
			<%=form_tag "/" do%>
				<%=hidden_field_tag 'defaultMsz', 'defaultMsz'%>
				<%=submit_tag("Click Here",:class=> "btnSmall btn submit right",:style=>"margin-right:45%;")%></br></br>
			<%end%>
			</br></br>
				<h3>OR <br>if you want to write your own message/quote for your friends write here</h3>
				<%=form_tag "/" do%>
					<%=text_area_tag 'customMsz', '',:placeholder => "Write Your own message...",:size=>"20x10"%></br></br>
					<%=submit_tag("Click here for post on friends wall",:class => "btnSmall btn submit right",:style=>"margin-right:65%;")%>
				<%end%>

<%end%>





















					</div>
				</div>
			</section>




			<section id="testiomonialsTab" class="row">
				<div class="center">
					<h1>Testimonials</h1>
					<strong class="subHeading">The Words which give me motivation on my works ....</strong>
					<div id="testimonials" class="gallery">
						<ul class="slides">
							<li>
								<div class="row">
									<blockquote>
										<q><%=@testinomial.comment%><b>Surya Prakash Joshi</b> </q>
									</blockquote>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section id="contactUs" class="row grey">
				<div class="center">
					<h1>Contact Us</h1>
					<strong class="subHeading">We Will Appreciate Your FeedBack</strong>
					<div class="columns">
						<div class="half">
							<%=form_for @feedback,:url => {:action => "addFeedback"},:html => {:class=>"form"} do |f|%>
							<form action="#" class="form">
								<fieldset>
									<h2>Feedback form</h2>
									<div class="formRow">
										<div class="textField"><%=f.text_field :name,:placeholder => "Your name ..."%></div>
									</div>
									<div class="formRow">
										<div class="textField"><%=f.text_field :email,:placeholder => "Your email ..."%></div>
									</div>
									<div class="formRow">
										<div class="textField"><%=f.text_area :comment,:cols =>"20",:rows => "4",:placeholder => "Your feedback...."%></div>
									</div>
									<div class="formRow">
										<button class="btnSmall btn submit right">
											<span>Send Message</span>
										</button>
									</div>
								</fieldset>
							<%end%>
						</div>
						<div class="half">
							<h2>How to find us</h2>
							<div id="map" style="height:375px;">
								<div class="imgHolder" ><%=gmaps("markers" => {"data" => @json}, "map_options" => {"processing" => "json", "auto_adjust" => false, "auto_zoom" => false, "zoom" => 16,"center_latitude" => "23.0396", "center_longitude" => "72.566"})%></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer id="footer">
			<div class="center">
				<span class="copy">Created by <a href="http://webcodebuilder.com">WebCodeBuilder.com</a></span>
				Subscribe to our <a href="http://webcodebuilder.com/feed/">blog</a> and follow us on <a href="https://twitter.com/#!/webcodebuilder">Twitter</a>
			</div>
		</footer>
	</div>
